.ratingContainer {
    display: flex;
    align-items: center;
  }
  
  .star {
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;
  }

  .small {
    font-size: 16px;
  }
  
  .medium {
    font-size: 24px;
  }
  
  .large {
    font-size: 32px;
  }
  
  .primary {
    color: #E37400;
  }
  
  .secondary {
    color: #FBBC04;
  }
  
  .normal {
    color: #FEEFC3;
  }
  