/* Estilos generales para todos los botones */
.button {
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    height: 36px;
}

.primary {
    background-color: #174EA6;
}

.primary:hover {
    background-color: #0F3A7C;
}

.secondary {
    background-color: #4285F4;
}

.secondary:hover {
    background-color: #3367D6;
}

.normal {
    background-color: #D2E3FC;
    color: #202124;
}

.normal:hover {
    background-color: #A6C2F2;
}

.small {
    padding: 8px 30px;
    width: 150px;
}

.medium {
    padding: 12px 30px;
    width: 200px;
}

.large {
    padding: 16px 30px;
    width: 250px;
}

.text {
    color: #FFFFFF;
}

.normal > .text {
    color: #202124;
}

.leftIcon, .rightIcon {
    height: 20px;
    width: 20px;
}

.leftIcon {
    margin-right: 8px;
}

.rightIcon {
    margin-left: 8px;
}
