.tabsContainer {
    width: 100%;
}

.tabList {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tabButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.tabButton:hover {
    background-color: #f1f1f1;
}

.active {
    position: relative;
    color: #4285F4;
    font-weight: 500;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: #4285F4;
    border-radius: 62.5rem 62.5rem 0 0;
}

.tabContent {
    padding: 20px;
}

.primary .tabButton.active {
    border-color: #4285F4;
    color: #4285F4;
}

.secondary .tabButton.active {
    border-color: #174EA6;
    color: #174EA6;
}

.normal .tabButton.active {
    border-color: #D2E3FC;
    color: #202124;
}


.small .tabButton {
    font-size: 14px;
    padding: 8px 16px;
}

.medium .tabButton {
    font-size: 16px;
    padding: 10px 20px;
}

.large .tabButton {
    font-size: 18px;
    padding: 12px 24px;
}