
.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.small {
    font-size: 10px;
}
.medium {
    font-size: 12px;
}
.large {
    font-size: 14px;
}
.h3 {
    font-size: 20px;
}

.primary {
    color: #3d5a80;
}
.secondary {
    color: #98c1d9;
}
.normal {
    color: #ee6c4d;
}