/* Estilos generales para el checkbox */
.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Ocultar el checkbox nativo */
.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Personalización del checkmark */
.checkmark {
    background-color: #f0f0f0;
    border: 2px solid #9AA0A6;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, border-color 0.2s;
}

/* Icono dentro del checkmark cuando está seleccionado */
.checkbox:checked + .checkmark {
    background-color: #4285F4;
    border-color: #4285F4;
}

.checkmark::after {
    content: '';
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Variantes */
.primary {
    background-color: #4285F4;
    border-color: #4285F4;
}

.secondary {
    background-color: #34A853;
    border-color: #34A853;
}

.normal {
    background-color: #FBBC05;
    border-color: #FBBC05;
}

/* Estado marcado */
.checked {
    background-color: #ffffff;
    border: 2px solid #9AA0A6;
}

/* Tamaños */
.small {
    width: 12px;
    height: 12px;
    padding: 2px;
}

.medium {
    width: 16px;
    height: 16px;
    padding: 2px;
}

.large {
    width: 20px;
    height: 20px;
    padding: 2px;
}

/* Texto de la etiqueta */
.labelTextLeft {
    margin-right: 8px;
    color: #202124;
}

.labelTextRight {
    margin-left: 8px;
    color: #202124;
}
