.textField {
  border: 2px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.textField:focus {
  border-color: #4285F4;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}

/* Variantes */
.primary {
  border-color: #4285F4;
}

.secondary {
  border-color: #174EA6;
}

.normal {
  border-color: #D2E3FC;
}

/* Tamaños */
.small {
  font-size: 14px;
  padding: 6px;
}

.medium {
  font-size: 16px;
  padding: 8px;
}

.large {
  font-size: 18px;
  padding: 10px;
}
