.menuItem {
    position: relative; /* Necesario para que el submenú se posicione relativo a este li */
    margin: 0;
    padding: 0;
    color: #fff;
    z-index: 1;
  }
  
  /* Etiqueta para el texto del menú */
  .menuItemLabel {
    padding: 8px;
    cursor: pointer;
  }
  
  .labelWithChildren {
    /* Ajusta estilos cuando hay hijos */
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 8px;
  }
  
  /* 
    Contenedor adicional para el submenú.
    Se posiciona ABSOLUTO hacia la derecha del ítem (left: 100%).
  */
  .submenuContainer {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #444;
    min-width: 180px;
    border-left: 2px solid #555;
    border-radius: 4px;
    padding: 8px;
    z-index: 999;
  }
  
  
  /* Ajusta la lista interna del submenú */
  .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .submenu li {
    margin: 4px 0;
  }
  