.sliderContainer {
    display: flex;
    align-items: center;
  }
  
  .slider {
    flex-grow: 1;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4285F4;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4285F4;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .valueLabel {
    margin-left: 10px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #202124;
  }
  
  /* Variantes */
  .primary .slider::-webkit-slider-thumb {
    background: #174EA6;
  }
  
  .secondary .slider::-webkit-slider-thumb {
    background: #4285F4;
  }
  
  .normal .slider::-webkit-slider-thumb {
    background: #D2E3FC;
  }
  
  /* Tamaños */
  .small {
    width: 100px;
  }
  .small .slider {
    height: 4px;
  }
  
  .small .slider::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
  }

  .medium {
    width: 200px;
  }
  
  .medium .slider {
    height: 6px;
  }
  
  .medium .slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  .large {
    width: 300px;
  }
  
  .large .slider {
    height: 8px;
  }
  
  .large .slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
  